<div class ="about-section">
    <div class="about-title">
        <h1>About</h1>
    </div>
    <div class="spirit-animal-image">
        <img class = "spirit-img" src="../../assets/photo-1561037404-61cd46aa615b.jpg">
    </div>
    <div class = "about-content">
        <p>
            I am a passionate software developer with expertise in backend 
        </p>
        <p>
            I am planning to start learning Data Science soon . Here is the link to my Trello
        </p>
        <p>
            Also , planning to start writing a blog every three days . The blogs are mostly going to be technical tutorials with personal experiences tossed in every once in a while
        </p>
        
        <p>Please  find the link to trello board <a href="https://trello.com/b/WRy7MHxR/journey-to-ml-engineer-data-scientist">here</a></p>

        <p>And one more thing , Dog is my spirit animal :P</p>
    </div>
</div>
